@page
@using BTM.Data.Enums;
@model Pages.Kunden.IndexModel
@{
    ViewData["Title"] = "Übersicht";
}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<style>
    .right {
        float: right
    }

    .left {
        float: left
    }
</style>
<html>
<head>
</head>
<body>

    <div class="right">
        <form method="post">
            <div class="input-group mb-3">
                <input type="hidden" asp-for="Costumer.ID" />
                <input type="hidden" asp-for="Costumer.Email" />
                <input type="hidden" asp-for="Costumer.Standort" />

                <input type="text" class="form-control" placeholder="Neuer Kundenname" asp-for="Costumer.Name" required>
                <span class="text-danger" asp-validation-for="Costumer.Name"></span>
                <div class="invalid-feedback">
                    Name is required!
                </div>
                <button class="btn btn-outline-secondary" asp-page-handler="Create" type="submit">Erstellen</button>
            </div>
        </form>
    </div>
    <div class="left">
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Suchen nach..." asp-for="Search" />
                <button class="btn btn-outline-secondary" asp-page-handler="Search" type="submit">Suchen</button>
            </div>
        </form>
    </div>


    <div class="">
        <table class="table">
            <form method="get">
                
            <thead>
                <tr>
                    <td>
                        Kunden Name
                    </td>
                    <td>
                        Kunden Email
                    </td>
                    <td>
                        <select class="select" asp-items="Html.GetEnumSelectList<Quartal>()" asp-for="SelectedQuartal" onchange="this.form.submit();"></select>
                        <select class="select" asp-for="SelectedYear" onchange="this.form.submit();">
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                            <option>2026</option>
                        </select>                       
                        Aktueller Zählerstand vorhanden?
                    </td>
                    <td>
                        Standort
                    </td>

                    <td>Telefon</td>

                    <td></td>
                </tr>
            </thead>
            </form>
            <form method="post">
            <tbody>
                    @foreach (var item in Model.AllCostumers.OrderBy(x => x.Name))
                    {
                    <tr>

                        <td>
                                @item.Name

                        </td>
                        <td>
                                @item.Email
                        </td>
                        <td>
                            <div class="@(item.IsUpToDate ? "green" : "red")">@(item.IsUpToDate ? "Ja" : "Nein")</div>
                        </td>

                        <td>
                                @item.Standort
                        </td>

                        <td>
                                @if (item.Telefons != null && item.Telefons.Count() > 0)
                                {
                                    @foreach (var phone in item.Telefons)
                                    {
                                    <div class="row">
                                            @phone.Name : @phone.TelefonNummer
                                    </div>
                                    }
                                }
                        </td>
                        <td>
                            <button type="submit" asp-page-handler="Detail" asp-route-ID="@item.ID" value="detail" class="btn btn-secondary">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </td>
                    </tr>

                    }
            </tbody>
            </form>

        </table>
    </div>

</body>
</html>

<style>
    .green {
        background-color: rgba(0, 255, 0, 0.5);
        text-align: center;
        font-weight: bold;
    }

    .red {
        background-color: rgba(255, 0, 0, 0.5);
        text-align: center;
        font-weight: bold;
    }
</style>

